<div class="issue-banner">
    <h2>
        <span data-ng-repeat="bread in breadcrumbList track by $index">
          <a href="{{bread.url}}" data-ng-show="bread.url">
            {{ bread.title | translate }}
          </a>
          <span data-ng-hide="bread.url">
            {{ bread.title | translate }}
          </span>
          <span ng-hide="$last === true">&rarr;&nbsp; </span>
        </span>
    </h2>

    <a href="" class="action-btn" data-ng-click="showShortcutInfoPopUp()"><i class="icon-info"></i></a>

</div>

<modal dialog-title="SNABBKOMMANDON" show="showShortcutInfo">
    <table class="log-table">
        <caption>ALLMÄNT</caption>
        <tr>
            <th>Visa / dölj sök</th>
            <td>Shift+S</td>
        </tr>
        <tr>
            <th>Skapa ärende</th>
            <td>Alt+N</td>
        </tr>
    </table>


    <table class="log-table">
        <caption>SAMTAL</caption>
        <tr>
            <th>Ny konversation</th>
            <td>Alt+C</td>
        </tr>

        <tr>
            <th>Ny kontakt</th>
            <td>Ctrl+Alt+P</td>
        </tr>
    </table>


    <table class="log-table">
        <caption>ÄRENDE</caption>
        <tr>
            <th>Ärendekommentarer</th>
            <td>Alt+O</td>
        </tr>
        <tr>
            <th>Ta bort ärendet</th>
            <td>Shift+D</td>
        </tr>

        <tr>
            <th>Tilldela mig</th>
            <td>Alt+A</td>
        </tr>
        <tr>
            <th>Tilldela annan</th>
            <td>Alt+T</td>
        </tr>
        <tr>
            <th>Byt ägare (funktion)</th>
            <td>Alt+S</td>
        </tr>
        <tr>
            <th>Återuppta</th>
            <td>Alt+R</td>
        </tr>
        <tr>
            <th>Återlämna</th>
            <td>Alt+U</td>
        </tr>
        <!--TODO Show again after implement possibility to pause cases -->
        <!--<tr>-->
            <!--<th>Pausa ärende</th>-->
            <!--<td>Shift+H</td>-->
        <!--</tr>-->

        <tr>
            <th>Exportera</th>
            <td>Ctrl+Alt+E</td>
        </tr>
        <tr>
            <th>Stäng ärende</th>
            <td>Alt+X</td>
        </tr>
    </table>

    <h4>
        I Mac OSX ersätts CTRL med CMD
    </h4>
</modal>