<div class="maps">
  <div class="row">
    <ng-map ng-show="modelLoaded" center="map.center" zoom="6" draggable="true" control="map.control" options="map.options" map-initialized="init(map)">
      <drawing-manager options="drawingManagerOptions" control="drawingManagerControl"
                               events="drawingManagerOptions.events"></drawing-manager>

      <marker idkey="marker.id" coords="marker.coords" options="marker.options"
                      events="marker.events" control="map.markersControl"></marker>
    </ng-map>
  </div>

  <div class="row">
    <label>{{addressLabel}}</label>
  </div>

  <div class="lookup">
    <input type="text" id="map-search-input" class="" data-ng-model="searchValue">
    <button class="btn" type="button" data-ng-click="search($event)">Sök</button>
    <button class="btn" type="button" data-ng-click="findMe($event)"><i class="icon-target"></i>&nbsp;Min position</button>
    <div id="mapErrorMsg">{{searchError}}</div>
    <ul class="search-results">
      <li data-ng-repeat="result in searchResults"><a href="" data-ng-click="selectAddress($event, result.location)">{{result.address}}</a></li>
    </ul>
  </div>
</div>
