<div class="select">
  <label for="type-select">Ärendetyp</label>
  <select chosen no-results-text="'Inga ärendetyper funna'" data-placeholder="Ärendetyp"
          data-ng-options="caseType.id as (caseType.text + caseType.labels) group by caseType.title for caseType in possibleCaseTypes"
          data-ng-model="caseType" data-ng-change="changeCaseType(caseType)" data-ng-disabled="!canChange"
          allow-single-deselect="true" name="name-select" id="type-select">
  <option></option>
  </select>
</div>

