<div data-ng-repeat="form in possibleForms">
    <a data-ng-show="!canCreate" href="#/cases/{{ caze[0].id }}/formhistory/{{ form.id }}" class="convCaseSidebar">
        {{form.text}}
    </a>
    <a data-ng-show="canCreate" href="#/cases/{{ caze[0].id  }}/formdrafts/{{ form.id }}"
       class="block-link convCaseSidebar">
        {{form.text}}
        <span data-ng-repeat="submittedForm in submittedForms = (submittedFormList | filter: form.id: submittedForm.id)"></span>
    </a>
    <a data-ng-click="openFormInNewWindow(form.id)" href=""><span class="action-btn icon-folder-open"
                                                                  title="Open in new window"> <span class="struct">Open in new window</span></span></a>
</div>
