<div class="collapsedCaseData">
    <div>
        <b class="left left-sidebar">Ärendetyp:</b>
        <div class="left right-sidebar">{{caze[0].caseType.text}}</div>
    </div>
    <div class="clear"/>

    <div>
        <b class="left left-sidebar">Etiketter:</b>
        <!--TODO getting strange error here on changing case type-->
        <!--<div class="left right-sidebar"><div ng-repeat="label in caseLabel">{{label.text}}{{$last ? '' : '; '}}</div></div>-->
    </div>
    <div class="clear"/>

    <div>
        <b class="left left-sidebar">Bifogade filer:</b>
        <div class="left right-sidebar">
            <ul >
                <div data-ng-show="attachment.rel === 'attachment'" data-ng-repeat="attachment in attachments">
                    <a data-ng-show="attachment.queries[0].id === 'download'" data-ng-click="downloadAttachment(attachment)"
                       href="">{{ attachment.text }}</a>
                    <a data-ng-show="attachment.queries[0].id !== 'download'" href="">{{attachment.text}}</a>
                </div>
            </ul>

        </div>
    </div>
    <div class="clear"/>
</div>

