<div class="m-c">
    <ul>
        <li>
            <a href="#/cases/{{ caze[0].id }}/{{ caze[0].ownerId }}" class="block-link convCaseSidebar">
                <span class="contact-no-name" data-ng-if="caze[0].text.length === 0">Ärendebeskrivning saknas</span>
                <h3 data-ng-hide="caze[0].text.length === 0" class="left">{{caze[0].text}}</h3>
                <a href="" class="action-btn" data-ng-click="showCaseInfoPopUp()"><i class="icon-info"></i></a>

                <div class="clear"></div>
                <div>
                    <a href="#/cases/{{ caze[0].id }}/{{ caze[0].ownerId }}" class="block-link" data-ng-hide="notes[0].length === 0" data-ng-bind-html="(notes[0].note || emptyNoteMessage)| limitTo: 200"></a>
                    <a href="#/cases/{{ caze[0].id }}/{{ caze[0].ownerId }}/empty"  target="_self" class="action-btn icon-pencil" title="Edit case"><i class="icon-info"></i></a>
                </div>
            </a>
        </li>
    </ul>
    <div class="clear"></div>
</div>

<modal dialog-title="Ärendeinformation" show="showCaseInfo">
    <table class="log-table">
        <caption>Allmänt</caption>
        <tr>
            <th>Ansvarig</th>
            <td>{{ caze[0].owner }}</td>
        </tr>
        <tr>
            <th>Skapad av</th>
            <td>{{ caze[0].createdBy }}</td>
        </tr>
        <tr>
            <th>Handläggare</th>
            <td>{{ caze[0].assignedTo }}</td>
        </tr>
    </table>
    <table class="log-table">
        <caption>Åtkomst</caption>
        <tr>
            <th>Läsa</th>
            <td>{{ permissions[0].readAccess }}</td>
        </tr>
        <tr>
            <th>Skriva</th>
            <td>{{ permissions[0].writeAccess }}</td>
        </tr>
    </table>
</modal>

