<div class="select">
    <label for="type-select">Ärendetyp</label>

    <ui-select data-ng-model="$parent.caseType" data-ng-change="changeCaseType($select.selected.id)"
               search-enabled="true"
               id="type-select" name="type-select"
               theme="select2" style="width: 100%;">
        <ui-select-match placeholder="Ärendetyp">{{$select.selected.text}}</ui-select-match>
        <ui-select-choices repeat="type.id as type in possibleCaseTypes | filter: ($select.search)" group-by="'title'"
                           value="{{type.id}}">
            <div data-ng-bind-html="highlight((type.text), $select.search)"></div>
        </ui-select-choices>
    </ui-select>
</div>
</div>

