<div class="select">
  <label for="priority-select">Prioritet</label>
  <span class="priority-color" data-ng-style="activePriorityColor"></span>
  <div class="select">
      <ui-select ng-model="$parent.priority" theme="select2" style="width: 100%;"
                 data-ng-change="changePriorityLevel(priority);"
                 name="priority-select" id="priority-select">
          <ui-select-match placeholder="Skapad av">
              <span ng-bind="$select.selected.text"></span>
          </ui-select-match>
          <ui-select-choices repeat="priority.id as priority in possiblePriorities">
              <span ng-bind="priority.text"></span>
          </ui-select-choices>
      </ui-select>
  </div>
</div>

