<label for="label-select">Etiketter</label>
<ui-select multiple data-ng-model="$parent.activeLabels" theme="select2" data-ng-disabled="canChange"
           data-ng-change="changeCaseLabels($parent.activeLabels)" close-on-select="false" name="label-select" id="label-select"
           class="{{!$parent.activeLabels.length ?'empty-select':''}}"
           style="width: 100%;">
    <ui-select-match placeholder="Välj etiketter...">{{$item.text}}</ui-select-match>
    <ui-select-choices repeat="label in possibleCaseLabels | filter: $select.search | orderBy:'text'">
        <div ng-bind-html="label.text | trustAsHTML"></div>
    </ui-select-choices>
</ui-select>
