<div data-ng-repeat="form in possibleForms" class="main">
    <a data-ng-click="openFormInNewWindow(form.id, false)" href=""
       class="left form-name convCaseSidebar">
        {{form.text}}
        <span data-ng-repeat="submittedForm in submittedForms = (submittedFormList | filter: form.id: submittedForm.id | unique:'submissionDate')"></span>
    </a>
    <div class="convo-status form-icons"><a href="#/cases/{{ caze[0].id }}/formhistory/{{ form.id }}"><span
            class="icon-history" title="Formulär, historik">{{submittedForms.length}} <span class="struct">Formulär, historik</span></span></a>
        <a data-ng-click="openFormInNewWindow(form.id, true)" href=""><span class="icon-folder-open"
                                                                      title="Open in new window"> <span class="struct">Open in new window</span></span></a>
    </div>
    <div class="clear"></div>
</div>

