
  <label for="label-select">Etiketter</label>
  <ui-select multiple data-ng-model="$parent.activeLabels" theme="select2" data-ng-disabled="canChange"
        data-ng-change="changeCaseLabels($parent.activeLabels)" name="label-select" id="label-select" style="width: 100%;">
    <ui-select-match placeholder="Välj etiketter...">{{$item.text}}</ui-select-match>
    <ui-select-choices repeat="label in possibleCaseLabels">
      <div ng-bind-html="label.text"></div>
    </ui-select-choices>
  </ui-select>


