<div class="m-h">
  <h2>Formulär</h2>
</div>
<div class="m-c">
  <ul>
    <li data-ng-repeat="form in possibleForms">
      <a data-ng-show="!canCreate" href="#/cases/{{ caze[0].id }}/formhistory/{{ form.id }}" class="block-link convCaseSidebar">
        <h3>{{form.text}}</h3>
      </a>
      <a data-ng-show="canCreate" href="#/cases/{{ caze[0].id  }}/formdrafts/{{ form.id }}" class="block-link convCaseSidebar">
        <h3>{{form.text}}</h3>
        <span data-ng-repeat="submittedForm in submittedForms = (submittedFormList | filter: form.id: submittedForm.id)"></span>
      </a>
      <div class="convo-status"> <a href="#/cases/{{ caze[0].id }}/formhistory/{{ form.id }}"><span class="icon-history" title="Formulär, historik">{{submittedForms.length}} <span class="struct">Formulär, historik</span></span></a>
        <a data-ng-click="openFormInNewWindow(form.id)" href="" ><span class="icon-folder-open" title="Open in new window"> <span class="struct">Open in new window</span></span></a>
      </div>
    </li>
  </ul>
</div>

