<div data-ng-repeat="form in possibleForms" class="main">
    <span data-ng-repeat="submittedForm in submittedForms = (submittedFormList | filter: form.id: submittedForm.id | unique:'submissionDate')"></span>

    <div data-ng-if="submittedForms.length==0">
        <a data-ng-click="openFormInNewWindow(form.id, false,submittedForms.length === 0)" href="" class="left form-name convCaseSidebar">
            {{form.text}}
        </a>
    </div>
    <div data-ng-if="submittedForms.length > 0">
        <a href="#/cases/{{ caze[0].id }}/formhistory/{{ form.id }}" class="left form-name convCaseSidebar">
            {{form.text}}
        </a>
    </div>

    <div class="convo-status form-icons"><a href="#/cases/{{ caze[0].id }}/formhistory/{{ form.id }}"><span
            class="icon-history" title="Formulär, historik">{{submittedForms.length}} <span class="struct">Formulär, historik</span></span></a>
        <a data-ng-click="openFormInNewWindow(form.id, true, submittedForms.length === 0)" href=""><span class="icon-folder-open"
                                                                            title="Open in new window"> <span
                class="struct">Open in new window</span></span></a>
    </div>
    <div class="clear"></div>
</div>

