<form data-ng-submit="search(query)" role="search">
    <fieldset>
        <label for="main-searchtext" class="struct">Sök</label>
        <input type="search" placeholder="Sök" id="main-searchtext" data-ng-model="query">
        <a href="" id="main-search-filter" data-ng-model="filter" data-ng-click="toggleSearchFilter()">
            <i class="filter-dropdown icon-filter"></i>
        </a>
        <button type="submit" class="icon-search"><span>Sök</span></button>
    </fieldset>
</form>

<div class="search-filter-elem" data-ng-show="showSearchFilter"></div>
<div class="search-filter m m-filter" data-ng-show="showSearchFilter">
    <div class="select-wrapp">
        <div class="title-divider"><span>Sökfilter</span></div>
        <div class="select" style="position: relative">
            <label for="project-select">Funktion</label>

            <ui-select data-ng-model="filter.project"
                       id="project-select" name="project-select"
                       theme="select2" style="width: 100%;">
                <ui-select-match placeholder="Funktion">
                    <span data-ng-bind="$select.selected.text"></span>
                </ui-select-match>
                <ui-select-choices repeat="item.id as item in possibleProjects track by item.id" group-by="'title'">
                    <span data-ng-bind="item.text"></span>
                </ui-select-choices>
                <ui-select-no-choice>
                    <span>Inga funktioner funna {{$select.search}}</span>
                </ui-select-no-choice>
            </ui-select>

            <a href="" id="" data-ng-click="clearProject()" data-ng-show="filter.project"
               class="icon-cancel__wrapp icon-cancel__select">
                <i class="icon-cancel"></i>
            </a>
        </div>
        <div class="select" style="position: relative">
            <label for="type-select">Ärendetyp</label>

            <ui-select data-ng-model="filter.caseType" data-ng-change="changeCaseType(caseType)"
                       id="type-select" name="type-select"
                       theme="select2" style="width: 100%;">
                <ui-select-match placeholder="Ärendetyp">
                    <span ng-bind="$select.selected.text"></span>
                </ui-select-match>
                <ui-select-choices repeat="item.id as item in possibleCaseTypes track by item.id" group-by="'title'">
                    <span ng-bind="item.text+item.labels"></span>
                </ui-select-choices>
                <ui-select-no-choice>
                    <span>Inga funktioner funna {{$select.search}}</span>
                </ui-select-no-choice>
            </ui-select>

            <a href="" id="" data-ng-click="clearCaseType()" data-ng-show="filter.caseType"
               class="icon-cancel__wrapp icon-cancel__select">
                <i class="icon-cancel"></i>
            </a>
        </div>
        <div style="position: relative">
            <label for="label-select">Etiketter</label>
            <ui-select multiple data-ng-model="filter.label" data-ng-change="labelsChanged(filter.label)"
                       id="label-select" name="label-select"
                       theme="select2" style="width: 100%;">
                <ui-select-match placeholder="Välj etiketter...">{{$item.text}}</ui-select-match>
                <ui-select-choices repeat="label.id as label in possibleLabels | filter: $select.search"
                                   group-by="'title'">
                    <div data-ng-bind-html="label.text | trustAsHTML"></div>
                </ui-select-choices>
            </ui-select>
            <a href="" id="" data-ng-click="clearLabels()" data-ng-show="filter.label.length > 0"
               class="icon-cancel__wrapp icon-cancel__select">
                <i class="icon-cancel"></i>
            </a>
        </div>
        <div>
            <label for="search-due-date-from">Förfallodatum</label>

            <div class="set-due-date date-container">
                <input sf-date-picker-fancy picker-options="datePickerOptions" type="text" id="search-due-date-from"
                       name="search-due-date-from" placeholder="Från"
                       data-ng-model="filter.dueOnFrom">
                <input sf-date-picker-fancy picker-options="datePickerOptions" type="text" id="search-due-date-to"
                       name="search-due-date-to" placeholder="Till"
                       data-ng-model="filter.dueOnTo">
            </div>
        </div>
        <div class="select" style="position: relative">
            <label for="assignee-select">Tilldelad</label>

            <ui-select data-ng-model="filter.assignedTo"
                       id="assignee-select" name="assignee-select"
                       theme="select2" style="width: 100%;">
                <ui-select-match placeholder="Tilldelad">
                    <span data-ng-bind="$select.selected.text"></span>
                </ui-select-match>
                <ui-select-choices repeat="item.id as item in possibleCaseTypes track by item.id">
                    <span data-ng-bind="item.text"></span>
                </ui-select-choices>
                <ui-select-no-choice>
                    <span>Inga funktioner funna {{$select.search}}</span>
                </ui-select-no-choice>
            </ui-select>

            <a href="" id="" data-ng-click="clearAssignedTo()" data-ng-show="filter.assignedTo"
               class="icon-cancel__wrapp icon-cancel__select">
                <i class="icon-cancel"></i>
            </a>
        </div>
        <div>
            <label for="issue-created-from-date">Skapat</label>

            <div class="set-created-date date-container">
                <input sf-date-picker-fancy picker-options="datePickerOptions" type="text" id="issue-created-from-date"
                       name="issue-created-from-date"
                       placeholder="Från"
                       data-ng-model="filter.createdOnFrom">
                <input sf-date-picker-fancy picker-options="datePickerOptions" type="text" id="issue-created-to-date"
                       name="issue-created-to-date" placeholder="Till"
                       data-ng-model="filter.createdOnTo">
            </div>
        </div>
        <div>
            <div class="select" style="position: relative">
                <label for="createdby-select">Skapad av</label>

                <ui-select data-ng-model="filter.createdBy"
                           id="createdby-select" name="createdby-select"
                           theme="select2" style="width: 100%;">
                    <ui-select-match placeholder="Skapad av">
                        <span data-ng-bind="$select.selected.text"></span>
                    </ui-select-match>
                    <ui-select-choices repeat="item.id as item in possibleCreatedBy track by item.id">
                        <span data-ng-bind="item.text"></span>
                    </ui-select-choices>
                    <ui-select-no-choice>
                        <span>Inga användare funna {{$select.search}}</span>
                    </ui-select-no-choice>
                </ui-select>

                <a href="" id="" data-ng-click="clearCreatedBy()" data-ng-show="filter.createdBy"
                   class="icon-cancel__wrapp icon-cancel__select">
                    <i class="icon-cancel"></i>
                </a>
            </div>
        </div>

        <div>
            <div class="select" style="position: relative">
                <label for="filterstatus-select">Status</label>
                <!--TODO: replace hardcoded vales with value from server like below-->
                <ui-select data-ng-model="filter.status"
                           id="filterstatus-select" name="filterstatus-select"
                           theme="select2" class="hasCustomSelect" style="width: 100%;">
                    <ui-select-match placeholder="Välj status">
                        <span data-ng-bind="$select.selected.text"></span>
                    </ui-select-match>
                    <ui-select-choices repeat="item.id as item in possibleStatuses track by item.id">
                        <span data-ng-bind="item.text"></span>
                    </ui-select-choices>
                    <ui-select-no-choice>
                        <span>Inga användare funna {{$select.search}}</span>
                    </ui-select-no-choice>
                </ui-select>

                <a href="" id="" data-ng-click="clearStatus()" data-ng-show="filter.status"
                   class="icon-cancel__wrapp icon-cancel__select">
                    <i class="icon-cancel"></i>
                </a>

            </div>
        </div>
    </div>
    <div class="select-wrapp">
        <div class="title-divider"><span>Gruppera & sortera</span></div>
        <label for="group-select">Gruppera</label>
        <div class="select group">
            <div class="select">

                <ui-select data-ng-model="group.value"
                           id="group-select" name="group-select"
                           theme="select2" class="hasCustomSelect" style="width: 100%;">
                    <ui-select-match placeholder="Skapad av">
                        <span data-ng-bind="$select.selected.name"></span>
                    </ui-select-match>
                    <ui-select-choices repeat="item in groupingOptions">
                        <span data-ng-bind="item.name"></span>
                    </ui-select-choices>
                </ui-select>
                <a href="" id="" data-ng-click="clearGrouping()" data-ng-show="group.value" class="icon-cancel__wrapp">
                    <i class="icon-cancel"></i>
                </a>
            </div>

            <div class="group-container">
                <div class="group-asc">
                    <label><input type="radio" value="asc" name="group-asc" id="group-asc"
                                  data-ng-model="group.order"><span></span></label><label
                        for="group-asc">Stigande</label>
                </div>
                <div class="group-desc">
                    <label><input type="radio" value="desc" name="group-desc" id="group-desc"
                                  data-ng-model="group.order"><span></span></label><label
                        for="group-desc">Fallande</label>
                </div>
            </div>
        </div>
        <label for="sort-select">Sortera</label>
        <div class="select sort">
            <div class="select">
                <ui-select data-ng-model="sort.value"
                           id="sort-select" name="sort-select"
                           theme="select2" class="hasCustomSelect" style="width: 100%;">
                    <ui-select-match placeholder="Välj status">
                        <span data-ng-bind="$select.selected.text"></span>
                    </ui-select-match>
                    <ui-select-choices repeat="item.id as item in possibleSorts track by item.id">
                        <span data-ng-bind="item.text"></span>
                    </ui-select-choices>
                </ui-select>
                <a href="" id="" data-ng-click="clearSorting()" data-ng-show="sort.value" class="icon-cancel__wrapp">
                    <i class="icon-cancel"></i></a>
            </div>

            <div class="sort-container">
                <div class="sort-asc">
                    <label><input type="radio" value="asc" id="sort-asc" name="sort-asc"
                                  data-ng-model="sort.order"><span></span></label><label for="sort-asc">Stigande</label>
                </div>
                <div class="sort-desc">
                    <label><input type="radio" value="desc" id="sort-desc" name="sort-desc"
                                  data-ng-model="sort.order"><span></span></label><label
                        for="sort-desc">Fallande</label>
                </div>
            </div>
        </div>
        <div class="submit-container">
            <button type="button" class="icon-search" data-ng-click="search(query)">&nbsp;Sök</button>
            <button type="button" class="icon-cancel" data-ng-click="resetSearchFilter()">&nbsp;Rensa</button>
        </div>
    </div>
</div>





